# Dependencies
node_modules/

# Environment / secret files
*.local
.env
.env.*

# Build files
dist/
dist-ssr/

# Supabase local files
supabase/.temp/

# Logs
*.log

# VS Code
.vscode/
ai-backend/.venv/

ai-backend/.env

# Python cache
__pycache__/
*.pyc
